* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Varibles */
:root {
    /* Text colors */
    --primary-text-color: #011032;
    --secondary-text-color: rgba(1, 16, 50, 0.6);

    /* Button border-radius */
    --btn-border-radius: 8px;

    /* Button bg color */
    --btn-bg-color: #6E63FA;
    --btn-text-color: #fff;
}

/* Core styles */

html, body {
    font-family: "Poppins", Arial, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.to-uppercase {
    text-transform: uppercase;
}

.nav-items {
    display: flex;
}
.nav-item:not(:last-child) {
    margin-right: 40px;
}
